.bar-chart-wrapper{
    max-width: 688px;
    width: 100%;
    padding: 10px;
}
.number-line-wrapper{
    
}
.number-line-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.number-lines{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.number-lines hr{
    width: 100%;
    border: 1px solid #A7B3E2;
}

.number-percantages{
    display: flex;
    flex-direction: column;
}


.number-lines-line-wrapper{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.raisec-names-container{

}

.raisec-names-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.raisec-bars-wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    bottom: 9px;
    left: 0;
    right: 0;
}
.raisec-bar{
    width: 100%;
    max-width: 80px;
    background-color: #485796;
    max-height: 100%;
    border-radius: 12px 12px 0 0 ; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.raisec-bar p{
position: absolute;
bottom: -40px;
}

.line-and-number-container{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}
.line-and-number-container p{
    position: absolute;
    z-index: 99;
    right: -30px;
}